<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Księgozbiór</title>
    <style>
        table, th, tr, td {border: 1px solid blue;}
        table { border-collapse: collapse;}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h3>Spis książek: </h3>
    <table class="top">
        <thead>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Description</th>
        <th>Price (PLN)</th>
        </thead>
        {% for book in library %}
        <tr>
            {% for item in book %}
            <th> {{ item }} </th>
            {% endfor %}
            <th><a href="/library/{{ loop.index }}">Edytuj</a></th>
        </tr>
        {% endfor %}
    </table>
    <div>
        <h3 class="add">Dodaj nową książkę: </h3>
        <form method="POST" action="/library/">
            {{ form.hidden_tag() }}
            <table class="bottom" style="width:280px">
                {% for field in form if field.widget.input_type != "hidden" %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <th>{{ field }}</th>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Dodaj">
        </form>
    </div>
</body>
</html>